.add-user {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.modal-btn {
  border: none;
  padding: 0;
  background-color: #00000000;
  cursor: pointer;
}
.modal-btn:focus {
  outline: none;
  box-shadow: none;
}
.add-user:hover {
  transform: translate(5px, -5px) scale(1.5);
  color: dodgerblue;
}
#submit-btn {
  float: right;
}
